* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body .image-container {
	width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

.image-container {
	box-shadow: 0px 3px 3px 1px grey;
    padding: 20px;
}

.image-slider {
	margin-left: 200px;
}

.thumbnail-container {
	width: 800px;
	display: flex;
	margin-left: 200px;
	margin-top: 20px;
	margin-right: 200px;
	justify-content: space-between;
}

.active {
	border: 2px solid black;
	filter: grayscale(0);
	transform: scale(1.1);
}

.thumbnail-container img {
	width: 150px;
	border-radius: 10px;
	filter: grayscale(50%);
}
