* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: beige;
}

body header {
	text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: black; 
}

body header h1 {
	color: beige;
	text-transform: uppercase;
	font-size: 25px;
}

body main {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

main label {
	margin-top: 30px;
    display: block;
    margin-bottom: 30px;
    font-size: 17px;
    text-transform: uppercase;
}

main input {
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
}

main ul {
	display: flex;
	flex-wrap: wrap;
	
}

main ul li {
	width: 33%;
	margin-bottom: 20px;
}

main ul li {
	list-style-type: none;
}

main ul li a {
	text-decoration: none;
	display: block;
	color: mediumblue;
}

main ul li a img {
	width: 100%;
	max-width: 350px;
	height: 500px;
}


footer {
	height: 100px;
	background-color: black;
}